extends layout

block content
  h1= title
  p Can we help you? #{title}
  a(class='button' href='food-bank') Food Bank
  br
  a(class='button' href='uncomfortable-details') Do you want to share some uncomfortable details?
  br
  a(class='button' href='mental-health') Mental Health Support