{% extends "layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">
        Depression
      </h1>

      <h2 class>
      If you feel you are experiencing these symptoms we would encourage you to have a discussion with your GP. The information below is suggested supplementary support to use in conjunction with GP support.
      </h2>

      <ul>
        <li><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/depression/#.XJYW2i2cYUs">Mind - For Better Mental Health</a></li>
        <li><a>Mind - Support Groups in Your Area</a></li>
        <li><a>Moodzone for Mental Wellbeing</a></li>
        <li><a>SANE - Online Support Form</a></li>
        <li><a>Penfriend Scheme</a></li>
      </ul>

      {{ govukButton({ text: 'Back', href: '/mental-health'}) }}

  </div>
</div>

{% endblock %}