{% extends "layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        What do you need help with?
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/mental-health/depression">Depression</a></li>
        <li><a href="/uncomfortable-details">Anxiety</a></li>
        <li><a href="/bipolar-disorder">Bipolar Disorder</a></li>
        <li><a href="/dementia">Dementia</a></li>
        <li><a href="/schizophrenia">Schizophrenia</a></li>
      </ul>
  </div>

</div>

{% endblock %}