{% extends "layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Do you?
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/mental-health/depression">
Feel a loss of interest or pleasure, general sadness, feelings of guilt or low self-worth, difficulty falling asleep, eating pattern changes, exhaustion and a lack of concentration.
</a></li>
        <li><a href="/uncomfortable-stuff">Anxiety</a></li>
        <li><a href="/bipolar-disorder">Bipolar Disorder</a></li>
        <li><a href="/dementia">Dementia</a></li>
        <li><a href="/schizophrenia">Schizophrenia</a></li>
      </ul>
  </div>

</div>

{% endblock %}