{% extends "layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two">

      <h1 class="govuk-heading-xl">
        Do you?
      </h1>

      <a href="/mental-health/depression" class ="float-left px-2 py-2">
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="/images/depression.png" alt="Looking for food">
            <div class="card-body">
              <p class="card-title text-center">Feel a loss of interest or pleasure, general sadness, feelings of guilt or low self-worth, difficulty falling asleep, eating pattern changes, exhaustion and a lack of concentration?</p>
            </div>
          </div>
       </a>

       <a href="/mental-health/anxiety" class ="float-left px-2 py-2">
         <div class="card" style="width: 15rem;">
             <img class="card-img-top" src="/images/anxiety.jpg" alt="Looking for food">
             <div class="card-body">
               <p class="card-title text-center">Feel restless, a sense of dread, feel constantly "on edge", have difficulty concentrating, are irritable?
                                                               Regularly experience dry mouth, feeling sick/stomach ache, trembling/shaking?</p>
             </div>
           </div>
        </a>

       <a href="/mental-health/bipolar-disorder" class ="float-left px-2 py-2">
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="/images/bipolar.jpeg" alt="Looking for food">
            <div class="card-body">
              <p class="card-title text-center">
              Feel your mood can swing from one extreme to another with episodes/feeling lasting a number of weeks?
                    Episodes can include overwhelming feelings of worthlessness or extreme happiness with elevated energy, ambitious plans and ideas.
              </p>
            </div>
          </div>
       </a>

       <a href="/mental-health/dementia" class ="float-left px-2 py-2">
           <div class="card" style="width: 15rem;">
             <img class="card-img-top" src="/images/dementia.png" alt="Looking for food">
             <div class="card-body">
               <p class="card-title text-center">
              Do you experience any change in behaviour or thoughts, such as hallucinations or delusions?
                    Feel a withdrawal or lack of function that you would not usually expect to feel? Do you feel emotionless / flat?
              </p>
             </div>
           </div>
        </a>

        <a href="/mental-health/schizophrenia" class ="float-left px-2 py-2">
           <div class="card" style="width: 15rem;">
             <img class="card-img-top" src="/images/schizophrenia.jpg" alt="Looking for food">
             <div class="card-body">
               <p class="card-title text-center">
                    Struggle to remember past events much more than recent ones?
                   Feel anxious, depressed or angry about memory loss, or feeling confused, even when in a familiar environment?
              </p>
             </div>
           </div>
        </a>

  </div>

</div>

{% endblock %}