{% extends "layout.njk" %}

{% block pageTitle %}
  What do you want to do?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column">

    <br/>

    <h1 class="govuk-heading-xl">
    What do you need help with?
    </h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/food-bank">Food Bank</a></li>
      <li><a href="/uncomfortable-details">Do you want to share some uncomfortable details?</a></li>
      <li><a href="/mental-health">Mental Health Support</a></li>
    </ul>
  </div>
</div>

{% endblock %}
