{% extends "nunjucks/template.njk" %}

{% from "nunjucks/macros/button.njk"        import govukButton %}
{% from "nunjucks/macros/error-summary.njk" import govukErrorSummary %}
{% from "nunjucks/macros/input.njk"         import govukInput %}
{% from "nunjucks/macros/panel.njk"         import govukPanel %}
{% from "nunjucks/macros/header.njk"        import govukHeader %}

{% block head %}
  {% include "nunjucks/includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  What do you need help with?
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Breaking Barriers",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}
